.head {
    background-image: url("pictures/nature-preserve-fall.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.head-text {
    text-align: center;
}

.head-text > h1 {
    font-size: 5vw;
    font-family: "Franklin Gothic Medium";
    color: #daf4ed;
}

.head-text > p {
    font-size: 2vw;
    font-family: "Franklin Gothic Medium";
    color: #daf4ed;
}

.head-profile {
    width: 80vw;
    text-align: center;
    justify-content: space-around;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 3vh auto;
}

.stat {
    background-color: none;
}

.stat-title > p {
    font-family: Trebuchet MS;
    color: #f3f9fb;
    margin: 0;
}

.stat-value > p {
    font-family: Charcoal;
    font-size: 2.5vw;
    color: #f5fefb;
}

#head-nav {
    overflow: hidden;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
}

.sticky {
    position: fixed;
    background-color: black;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 10;
}

.sticky + .about {
    padding-top: 60vh;
}

.nav-svg {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0 2vw;
    padding: 0 0.8vw;
    text-align: center;
}

.nav-svg:hover {
    background-color: #d1bdbc;
    border: outset #b02920;
}

.svg-logo {
    width: 4vw;
    height: 4vw;
    margin: 0 auto;
}

.nav-text {
    text-align: center;
    color: #f2fae1;
    font-family: "Times New Roman";
    margin: 0 auto;
}

.nav-text:hover {
    color: white;
    font-weight: bold;
}

#about {
    background-image: url("pictures/background-about.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-text1 > h2 {
    font-family: cursive;
}

.about-text2 {
    color: #590f52;
    column-gap: 2vw;
    margin: 0 auto;
    font-family: "Times New Roman";
    text-align: justify;
}

#health,
#commute,
#economy {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

#diversity,
#housing {
    background-image: url("pictures/paper-texture.png");
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.text-chart-section {
    display: flex;
    height: 50vh;
    width: 90vw;
    text-align: center;
    justify-content: center;
}

.text1 > h2 {
    font-family: cursive;
}

.text2 {
    color: #590f52;
    font-family: "Times New Roman";
    text-align: justify;
}

#text-health1,
#text-health2,
#text-diversity1,
#text-diversity2,
#text-commute1,
#text-commute2,
#text-commute3,
#text-housing,
#text-economy1,
#text-economy2 {
    visibility: hidden;
}

.enter-animation {
    animation-name: slide;
    animation-duration: 0.3s;
    visibility: visible !important;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

.chart-section {
    background-image: url("pictures/chart_background.jpeg");
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

#commute {
    justify-content: space-around;
}

.commute-subdiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.commute-text {
    height: 28vh;
    color: #590f52;
    font-family: "Times New Roman";
    text-align: justify;
}

.commute-text > h2 {
    color: black !important;
    font-family: cursive;
}

.commute-picture {
    height: 28vh;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid pink;
}

.commute-picture:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

.commute-map:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

.commute-pic1 {
    background-image: url("pictures/Bing_airport.jpg");
}

.commute-pic2 {
    background-image: url("pictures/Bing_greyhound.jpg");
}

.commute-pic3 {
    background-image: url("pictures/BingU.jpg");
}

.commute-map {
    height: 28vh;
}

.housing-row {
    width: 90vw;
    height: 32vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.housing-text {
    width: 40vw;
    margin: 2vh auto;
}

.housing-text > h2 {
    font-family: cursive;
}

.housing-text > p {
    color: #590f52;
    font-family: "Times New Roman";
    text-align: justify;
}

.housing-bars {
    background-image: url("pictures/chart_background.jpeg");
    background-size: cover;
}

.economy-table {
    border: 0.1vh solid black;
    margin: 2vh auto;
}

tr {
    border: 0.05vw solid black;
}

th,
td {
    padding: 0.5vw;
    text-align: center;
    font-weight: bold;
}

thead {
    font-family: "Times New Roman";
    color: white;
    background-color: slateblue;
}

.table-column {
    font-family: Calibri;
    color: #281663;
}

tbody tr:nth-child(odd) {
    background-color: lightgreen;
}

tbody:hover td {
    color: transparent;
    text-shadow: 0 0 0.1vw #aaa;
}

tbody:hover tr:hover td {
    color: #444;
}

.economy-row {
    display: flex;
    text-align: center;
}

.economy-texts {
    margin: 2vw;
    color: #590f52;
    font-family: "Times New Roman";
    text-align: justify;
}

.economy-charts1,
.economy-charts2 {
    margin: 2vh 2vw;
    display: flex;
    flex-direction: column;
    background-image: url("pictures/chart_background.jpeg");
    background-size: cover;
}

.economy-text-source {
    font-family: fantasy;
    text-align: center;
    margin: 0 auto;
}

.cities-profile {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: space-around;
    background-image: url("pictures/background-about.jpg");
}

.cities-profile-row {
    display: flex;
    flex-direction: row;
    width: 100vw;
    margin: 0 auto;
    align-items: center;
}

#ithaca-pic {
    background-image: url("pictures/ithaca.jpg");
}

#syracuse-pic {
    background-image: url("pictures/syracuse.jpg");
}

#buffalo-pic {
    background-image: url("pictures/buffalo.jpg");
}

#rochester-pic {
    background-image: url("pictures/rochester.jpg");
}

#boston-pic {
    background-image: url("pictures/boston.jpg");
}

#sanfran-pic {
    background-image: url("pictures/sanfran.jpg");
}

.cities-profile-container {
    width: 22vw;
    border: grey solid;
    margin: 1vh auto;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.cities-profile-container:hover {
    border: red solid !important;
    animation: shake 0.1s;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.cities-profile-container2 {
    width: 47vw !important;
}

.cities-profile-title {
    font-size: 2.1vw;
    font-family: Times;
    color: white;
    position: relative;
    top: 40%;
}

.about-me {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-around;
    background-color: #faa005;
}

.profile-picture {
    margin: 1vh 1vw 0 1vw;
    border: solid lightblue;
    background-size: cover;
    background-image: url("pictures/pikachu.gif");
}

.profile-picture:hover {
    background-image: url("pictures/rushui.jpeg");
    z-index: 10;
}

.profile-about {
    width: 40vw;
    margin: 1vh;
}

.flex-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: -1vh;
}

.icon-3d {
    padding: 0.5vw;
    -webkit-animation: icon3d 200ms 10;
    animation: icon3d 200ms 10;
    color: #fff;
}

.icon-3d:hover {
    -webkit-animation: icon3d 200ms infinite;
    animation: icon3d 200ms infinite;
}

@keyframes icon3d {
    0% {
        text-shadow: 5px 4px rgba(244, 67, 54, 1),
            -5px -6px rgba(33, 150, 243, 1);
    }
    25% {
        text-shadow: -5px -6px rgba(244, 67, 54, 1),
            5px 4px rgba(33, 150, 243, 1);
    }
    50% {
        text-shadow: 5px -4px rgba(244, 67, 54, 1),
            -8px 4px rgba(33, 150, 243, 1);
    }
    75% {
        text-shadow: -8px -4px rgba(244, 67, 54, 1),
            -5px -4px rgba(33, 150, 243, 1);
    }
    100% {
        text-shadow: -5px 0 rgba(244, 67, 54, 1), 5px -4px rgba(33, 150, 243, 1);
    }
}

.profile-quote {
    width: 30vw;
    margin: 1vh;
}

blockquote {
    font-family: monospace;
    background: #f9f9f9;
    color: blue;
    border-left: 10px solid #ccc;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
}
@media (max-width: 700px) {
    .head {
        height: 30vh;
        width: 100vw;
    }
    .stat-title > p {
        font-size: 1.5vw;
    }
    .nav-text {
        font-size: 1.5vw;
    }
    #about {
        flex-direction: column;
        height: 70vh;
    }
    .nys-svg {
        width: 70vw;
        height: 20vh;
    }
    .about-text {
        width: 85vw;
        margin: 0 1vw;
    }
    .about-text1 > h2 {
        font-size: 2.4vw;
    }
    .about-text2 {
        column-count: 1;
        font-size: 2.3vw;
    }
    #source {
        font-size: 2.1vw;
    }
    .text-chart-section {
        flex-direction: column;
    }
    .text-section {
        width: 80vw;
        height: 20vh;
        margin: 0 auto;
    }
    .text1 > h2 {
        font-size: 2.4vw;
    }
    .text2 {
        font-size: 2.3vw;
    }
    .chart-section {
        width: 90vw;
        height: 40vh;
        margin: 0 auto 1vh;
    }
    #nys-population-chart {
        height: 30vh;
        width: 90vw;
        margin: 0 auto;
    }
    #health-bar1,
    #health-bar2 {
        height: 30vh;
        width: 40vw;
        margin: 0 auto;
    }
    #text-diversity2 {
        transform: translateY(25%);
    }
    #bing-ethnicity-pie,
    #bu-ethnicity-pie {
        height: 30vh;
        width: 85vw;
        margin: 0 auto;
    }
    .commute-subdiv {
        height: 32vh;
        width: 95vw;
    }
    .commute-text > h2 {
        font-size: 2.4vw;
    }
    .commute-text {
        font-size: 2.3vw;
        margin: 1vh;
        width: 30vw;
    }
    .commute-picture {
        width: 30vw;
    }
    .commute-map {
        width: 30vw;
    }
    .housing-text > h2 {
        font-size: 2.4vw;
        transform: translateY(-100%);
    }
    .housing-text > p {
        font-size: 2.3vw;
        transform: translateY(-10%);
    }
    .housing-bars {
        height: 30vh;
        width: 48vw;
        margin: 0 auto;
    }
    #housing-bar-1,
    #housing-bar-2,
    #housing-bar-3,
    #housing-bar-4,
    #housing-bar-5 {
        height: 29vh;
        width: 47vw;
        margin: 0.5vh 0.5vw;
    }
    .economy-texts > h2 {
        text-align: center;
        font-size: 2.4vw;
    }
    .economy-texts {
        width: 90vw;
        font-size: 2.3vw;
    }
    .economy-row {
        flex-direction: column;
    }
    .economy-text-source {
        width: 80vw;
        font-size: 2vw;
    }
    .economy-table {
        width: 90vw;
    }
    td {
        font-size: 1.5vw;
    }
    th {
        font-size: 2.3vw;
    }
    .table-column {
        font-size: 2.1vw;
    }
    .economy-charts1,
    .economy-charts2 {
        width: 95vw;
        margin: 0 auto;
    }
    .economy-charts2 {
        height: 35vh;
    }
    #economy-spline {
        height: 30vh;
        width: 85vw;
        margin: auto;
    }
    .cities-profile div h3 {
        font-size: 2.8vw;
    }
    .cities-profile-container {
        height: 6vh;
    }
    .profile-picture {
        width: 14vw;
        height: 14vw;
    }
    .about-me div h3 {
        font-size: 3vw;
    }
    .flex-center {
        width: 200%;
        min-height: 1.6vw;
        transform: translateX(-15%);
    }
    .flex-center a {
        font-size: 3vw;
    }
    blockquote {
        font-size: 2vw;
        margin: 0.5em 5px;
        padding: 0.5em 5px;
    }
    .profile-quote > p {
        font-size: 2vw;
    }
}
@media (min-width: 700px) and (max-width: 1200px) {
    .head {
        height: 40vh;
        width: 100vw;
    }
    .stat-title > p {
        font-size: 1.2vw;
    }
    .nav-text {
        font-size: 1.2vw;
    }
    #about {
        flex-direction: row;
    }
    .nys-svg {
        width: 25vw;
        height: 30vh;
    }
    .about-text {
        width: 65vw;
        margin: 0.5vh 1vw;
    }
    .about-text1 > h2 {
        font-size: 1.55vw;
    }
    .about-text2 {
        column-count: 2;
        font-size: 1.5vw;
    }
    #source {
        font-size: 1.4vw;
    }
    .text-chart-section {
        flex-direction: row;
    }
    .text-section {
        width: 20vw;
        height: 45vh;
        margin: 2vh 0vw 2vh 2vw;
    }
    .text1 > h2 {
        font-size: 2vw;
    }
    .text2 {
        font-size: 1.7vw;
    }
    .chart-section {
        width: 67vw;
        height: 36vh;
        margin: 2vh 2vw 2vh 2vw;
    }
    #nys-population-chart {
        height: 35vh;
        width: 65vw;
        margin: 0 auto;
    }
    #health-bar1,
    #health-bar2 {
        height: 35vh;
        width: 30vw;
        margin: 0 auto;
    }
    #bing-ethnicity-pie,
    #bu-ethnicity-pie {
        height: 35vh;
        width: 65vw;
        margin: 0 auto;
    }
    .commute-subdiv {
        height: 32vh;
        width: 95vw;
    }
    .commute-text > h2 {
        font-size: 2vw;
    }
    .commute-text {
        font-size: 1.7vw;
        margin: 1.5vh;
        width: 27vw;
    }
    .commute-picture {
        width: 27vw;
    }
    .commute-map {
        width: 27vw;
    }
    .housing-text > h2 {
        font-size: 2vw;
    }
    .housing-text > p {
        font-size: 1.7vw;
    }
    .housing-bars {
        height: 30vh;
        width: 40vw;
        margin: 0 auto;
    }
    #housing-bar-1,
    #housing-bar-2,
    #housing-bar-3,
    #housing-bar-4,
    #housing-bar-5 {
        height: 28vh;
        width: 38vw;
        margin: 1vh auto;
    }
    .economy-texts > h2 {
        text-align: center;
        font-size: 2vw;
    }
    .economy-texts {
        width: 85vw;
        font-size: 1.7vw;
        margin: 0 auto;
    }
    .economy-row {
        flex-direction: column;
        width: 90vw;
    }
    .economy-text-source {
        width: 80vw;
        font-size: 1.5vw;
    }
    .economy-table {
        width: 80vw;
    }
    td {
        font-size: 1.4vw;
    }
    th {
        font-size: 1.7vw;
    }
    .table-column {
        font-size: 1.6vw;
    }
    .economy-charts1,
    .economy-charts2 {
        width: 85vw;
    }
    .economy-charts2 {
        height: 35vh;
    }
    #economy-spline {
        height: 30vh;
        width: 80vw;
        margin: auto;
    }
    .cities-profile div h3 {
        font-size: 2.2vw;
    }
    .cities-profile-container {
        height: 8vh;
    }
    .profile-picture {
        width: 10vw;
        height: 10vw;
    }
    .about-me div h3 {
        font-size: 1.8vw;
    }
    .flex-center {
        width: 200%;
        min-height: 1.6vw;
        transform: translateX(-10%);
    }
    .flex-center a {
        font-size: 3vw;
    }
    blockquote {
        font-size: 1.5vw;
        margin: 0.5em 5px;
        padding: 0.5em 5px;
    }
    .profile-quote > p {
        font-size: 1.7vw;
    }
}
@media (min-width: 1200px) {
    .head {
        height: 100vh;
        width: 100vw;
    }
    .stat-title > p {
        font-size: 0.9vw;
    }
    .nav-text {
        font-size: 0.8vw;
    }
    #about {
        flex-direction: row;
        height: 50vh;
    }
    .about-svg {
        width: 22vw;
    }
    .nys-svg {
        width: 20vw;
        height: 30vh;
    }
    .about-text {
        width: 65vw;
        margin: 1vh 1vw;
    }
    .about-text1 > h2 {
        font-size: 1.2vw;
    }
    .about-text2 {
        column-count: 3;
        font-size: 1.15vw;
    }
    #source {
        font-size: 1vw;
    }
    .text-chart-section {
        flex-direction: row;
    }
    .text-section {
        width: 20vw;
        height: 45vh;
        margin: 2vh 0vw 2vh 2vw;
    }
    .text1 > h2 {
        font-size: 1.2vw;
    }
    .text2 {
        font-size: 1.15vw;
    }
    .chart-section {
        width: 70vw;
        height: 45vh;
        margin: 2vh 2vw 2vh 2vw;
    }
    #nys-population-chart {
        height: 40vh;
        width: 65vw;
        margin: 0 auto;
    }
    #health-bar1,
    #health-bar2 {
        height: 40vh;
        width: 30vw;
        margin: 0 auto;
    }
    #bing-ethnicity-pie,
    #bu-ethnicity-pie {
        height: 40vh;
        width: 65vw;
        margin: 0 auto;
    }
    .commute-subdiv {
        height: 30vh;
        width: 90vw;
    }
    .commute-text > h2 {
        font-size: 1.2vw;
    }
    .commute-text {
        font-size: 1.15vw;
        margin: 2vh;
        width: 25vw;
    }
    .commute-picture {
        width: 25vw;
    }
    .commute-map {
        width: 25vw;
    }
    .housing-text > h2 {
        font-size: 1.2vw;
    }
    .housing-text > p {
        font-size: 1.15vw;
    }
    .housing-bars {
        height: 30vh;
        width: 40vw;
        margin: 2vh auto;
    }
    #housing-bar-1,
    #housing-bar-2,
    #housing-bar-3,
    #housing-bar-4,
    #housing-bar-5 {
        height: 26vh;
        width: 38vw;
        margin: 2vh auto;
    }
    .economy-texts > h2 {
        font-size: 1.2vw;
    }
    .economy-texts {
        width: 30vw;
        font-size: 1.15vw;
    }
    .economy-row {
        flex-direction: row;
        width: 90vw;
    }
    .economy-text-source {
        width: 55vw;
        font-size: 1vw;
    }
    .economy-table {
        width: 52vw;
    }
    td {
        font-size: 0.8vw;
    }
    th {
        font-size: 1vw;
    }
    .table-column {
        font-size: 0.9vw;
    }
    .economy-charts1,
    .economy-charts2 {
        width: 60vw;
    }
    .economy-charts2 {
        height: 45vh;
    }
    #economy-spline {
        height: 38vh;
        width: 52vw;
        margin: auto;
    }
    .cities-profile div h3 {
        font-size: 1.6vw;
    }
    .cities-profile-container {
        height: 20vh;
    }
    .profile-picture {
        width: 8vw;
        height: 8vw;
    }
    .about-me div h3 {
        font-size: 1.3vw;
    }
    blockquote {
        font-size: 1.1vw;
        margin: 1.5em 10px;
        padding: 0.5em 10px;
    }
    .profile-quote > p {
        font-size: 0.8vw;
    }
}
